body {
    background-color:maroon;
    text-align:center;
}

.input-table {
    float: left;
}

.input-num {
    text-align: center;
}

.outputs {
    float: center;
}

#chart {
    background-color:white;
}

