body {
    background-color: maroon;
}

h1 {
    text-align: center;
}

#inputs {
    display: grid;
    position: absolute;
    grid-template-columns: 200px 0.3fr 0.1fr;
    background-color: aquamarine;
    justify-content: center;
}

.input, .input-num {
    text-align: center;
    display: block;
}

#inputs > label {
    text-align: left;
}
#outputs {
    text-align: center;
}

#chart {
    background-color:white;
}

#open-inputs {
    background-color: black;
    color: white;
    cursor: pointer;
}

#open-inputs:hover{
    background-color: #444;
}
